

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: teal;
}

.homepage {
  border: none;
  background-color: teal;
  font-style: italic;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  position: relative;
  margin: 0 0.1rem;
}

.nav-item button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border: 1px solid transparent;
  background-color: teal;
  cursor: pointer;
  transition: background-color 0.05s ease-in;
}

.nav-item button:hover {
  border-bottom: 1px solid #004545;
}

.nav-item button:active {
  background-color: #007373;
}

.order-num {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d71313;
  border-radius: 50%;
  padding: 1px 5px;
}

.main-menu ul {
  list-style: none;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu div {
  width: 100%;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-menu ul {
  padding: 0;
  width: 100%;
}

.sub-menu li {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
}

.sub-menu span {
  display: inline-block;
  text-align: center;
  padding: 1rem;
}

.add-item {
  font-size: 1.1rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.add-item:hover {
  background-color: #aaa;
    transform: scale(1.2);
}